@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

:root{
    --cor-fundo: #3f3f3f;
    --cor-fonte: #FFFFFF;

    --fonte-principal: "Protest Riot", sans-serif
}

body{
    background-color: var(--cor-fundo);
}

/* TITULO */
.titulo__game {
    margin-top: 2rem;
    font-family: var(--fonte-principal);
    font-weight: 500;
    color: var(--cor-fonte);
    font-size: 7vh;
    text-align: center;
    text-shadow: 5px 2px 3px #007179;
    /* filter: drop-shadow(10px 10px 10px white); */
}

.subtitulo__game {
    margin: 1rem;
    font-family: var(--fonte-principal);
    font-weight: 100;
    color: var(--cor-fonte);
    text-align: center;
    font-size: 5vh;
}

/* GAME */
.game__principal {
    display: grid;
    align-items: center;
    grid-template-columns:5fr 8fr 8fr 5fr;
    grid-template-areas:
    "z  a b  c"
    "z  a b  c"
    "z  a b  c";
}

.imagem__game {
    width: 100%;
}

.img_chata{
    margin: auto;
}

.computador__game {
    display: flex;
    grid-area: a;
}

.usuario__game {
    align-items: center;
    justify-content: end;
    grid-area: b;
    margin: auto;
}

.usuario__play {
    /* grid-column: 2/3;
    grid-row: 1/2; */
    justify-items: center;
}

.btn__game {
    margin-left: 10%;
    grid-area: c;
}

.btn__game__item {
    max-width: 50%;
    max-height: auto;
    margin: 0.5rem;
    padding: 0.3rem;
    background: transparent;
    border: 2px solid white;
    border-radius: 100px;
    backdrop-filter: blur(10px);
}

.btn__game__item:hover {
    padding: .3rem .5rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
    background: linear-gradient(to bottom, white, black);
}
.btn__img{
    max-width: 70%;
    height: auto;
}

/* PLACAR */
.placar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.placar__titulo {
    font-family: var(--fonte-principal);
    font-size: 3rem;
    margin-top: 2rem;
}

.tabela {
    border: 3px solid white;
    margin: 3rem;
    padding: 25%;
    border-collapse: collapse;
    color: var(--cor-fonte);
}
.tabela__linha{
    font-size: 7vh;
    width: 6.5rem;
    background-color: black;
}

.tabela__linha th{
    border: 2px solid white;
    padding: .5rem 4rem;
    width: 50%;
    font-family: var(--fonte-principal);
}

.ponto{
    border: 2px solid rgb(59, 59, 59);
    color: black;
    padding: 1rem 4rem;
    background-color: white;
    width: 50%;
    text-align: center;
}

.reset {
    font-size: 3vh;
    padding: 0.3rem;
    max-width: 50%;
    max-height: auto;
    margin: 2rem;
    background: transparent;
    border: 2px solid white;
    border-radius: 100px;
}

.reset:hover {
    padding: .5rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
    background: linear-gradient(to bottom, white, black);
}

.rodape {
    display: flex;
    position: fixed;
    align-self: flex-end
}

.rodape p{
    font-size: 7vh;
}
